:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --mail-tel-hover-color: #2196f3;
  --hover-color: #188ce8;
  --hero-background-color: #c4c4c4;
  --hero-overlay-color: rgba(47, 48, 58, 0.4);
  --hero-text-color: #ffffff;
  --main-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --primary-button-color: #2196f3;
  --border-color: #afb1b8;
  --features-background-color: #f5f4fa;
  --clients-hover-color: #2196f3;
  --socials-hover-color: #2196f3;
  --socials-hover-fill: #ffffff;
  --icon-fill: #afb1b8;
  --team-background-color: #f5f4fa;
  --radio-buttons-background-color: #f5f4fa;
}
.flex-list {
  list-style: none;
}
.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.radio-buttons {
  display: flex;
  justify-content: center;

  margin: 0px;
  padding: 0px;
}

.radio-buttons .items {
  display: block;

  margin-left: 8px;
  margin-bottom: 50px;
  padding: 6px 22px;
  border-radius: 4px;

  color: var(--primary-text-color);
  background-color: var(--radio-buttons-background-color);

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  text-align: center;
  letter-spacing: 0.03em;
}

.radio-buttons .items:hover {
  background-color: var(--primary-button-color);
  color: var(--third-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hiden {
  font-size: 0px;
}

/* Основной контент */
.flex-list .item p,
h2 {
  margin: 0px;
  padding: 0px;
}
.flex-list .item h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.flex-list .item p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.flex-list h2 {
  margin-bottom: 4px;
}
.flex-list .item {
  padding: 20px 24px;
}
.flexbox-projects a {
  margin: 0px;
  padding: 0px;

  color: var(--primary-text-color);
}
.portfolio-pic {
  display: block;
}
.flexbox-projects {
  display: flex;
  flex-wrap: wrap;

  margin: 0px;
  padding: 0px;
}

.flex-list {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.flex-list:nth-child(3n) {
  margin-right: 0px;
}

.flex-list:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
