/* ===== START GENERAL STYLES ===== */

:root {
  --primary: #4d5ae5;
  --dark: #2e2f42;
  --light: #f4f4fd;
  --accent: #e7e9fc;
  --pressed: #404bbf;
  --text: #434455;
  --subtle_text: #8e8f99;
  --success: #31d0aa;
  --white: #ffffff;
  --modal_bg: #fcfcfc;
  --global_padding: 156px;
  --font_size_default: 16px;
  --font_weight_medium: 500;
  --transition_default: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal_overlay: rgba(46, 47, 66, 0.4);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: var(--font_size_default);
  line-height: 1.5;
  letter-spacing: 0.02em;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: var(--white);
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section_header {
  color: var(--dark);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
}

.block_header {
  color: var(--dark);
  font-size: 20px;
  font-weight: var(--font_weight_medium);
  line-height: 1.2;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
}


/* ===== END GENERAL STYLES ===== */


/* ===== START HEADER ===== */

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
}

.main_navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.main_navigation .logo {
  margin-right: 76px;
}

.main_navigation_list {
  display: flex;
}

.main_navigation_list li:not(:last-child) {
  margin-right: 40px;
}

.nav_link {
  color: var(--dark);
  font-weight: var(--font_weight_medium);
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color var(--transition_default);
}

.nav_link.active {
  color: var(--pressed);
}

.nav_link.active::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--pressed);
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: color var(--transition_default);
}

.nav_link:hover::after {
  display: block;
}

.nav_contacts {
  font-style: normal;
}

.nav_contacts_list {
  display: flex;
  align-items: center;
}

.nav_contacts_list li:not(:last-child) {
  margin-right: 40px;
}

.contact_link {
  color: var(--text);
  display: block;
  padding: 24px 0;
  transition: color var(--transition_default);
}

.nav_link:hover,
.nav_link:active,
.nav_link:focus,
.contact_link:hover,
.contact_link:active,
.contact_link:focus {
  color: var(--pressed);
}

.logo {
  color: var(--primary);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo .dark {
  color: var(--dark);
}

.logo .light {
  color: var(--light);
}


/* ===== END HEADER ===== */


/* ===== START HERO ===== */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-banner-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero_heading {
  color: var(--white);
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  margin-bottom: 48px;
  max-width: 496px;
}

.primary_button {
  display: block;
  background-color: var(--primary);
  border: none;
  color: var(--white);
  font-weight: var(--font_weight_medium);
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition_default);
}

.primary_button:hover,
.primary_button:focus,
.primary_button:active {
  background-color: var(--pressed);
}


/* ===== END HERO ===== */


/* ===== START PRINCIPLES ===== */

.principles_cards_grid {
  display: flex;
  gap: 24px;
}

.principles_card {
  max-width: 264px;
}

.principles_icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: var(--light);
  border: 1px solid var(--subtle_text);
  border-radius: 4px;
  margin-bottom: 8px;
}


/* ===== END PRINCIPLES ===== */


/* ===== START TEAM ===== */

.team {
  background-color: var(--light);
}

.team_cards_grid {
  display: flex;
  gap: 24px;
}

.team_card {
  background-color: var(--white);
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229, 0px 1px 6px 0px #2e2f4214;
}

.team_card_content {
  padding: 32px 0;
}

.team_card_content .text {
  margin-bottom: 8px;
}

.team_card_icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team_card_icon_wrapper {
  width: 40px;
  height: 40px;
}

.icon_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  border-radius: 50%;
  transition: background-color var(--transition_default);
}

.icon_link:hover,
.icon_link:focus {
  background-color: var(--pressed);
}

.team_card_icon {
  fill: var(--light);
}


/* ===== END TEAM ===== */


/* ===== START PORTFOLIO ===== */

.portfolio_grid {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio_card {
  transition: box-shadow var(--transition_default);
}

.portfolio_card:hover {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229, 0px 1px 6px 0px #2e2f4214;
}

.portfolio_card:hover .portfolio_img_overlay {
  transform: translateY(0%);
}

.portfolio_card_content {
  border: 1px solid var(--accent);
  border-top: 0;
  padding: 32px 16px;
}

.portfolio_card_img_wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio_img_overlay {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: var(--font_size_default);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
  padding: 40px 32px;
  background-color: var(--primary);
  transform: translateY(100%);
  transition: transform var(--transition_default);
}

.portfolio_img_overlay_text {
  color: var(--light);
}


/* ===== END PORTFOLIO ===== */


/* ===== START FOOTER ===== */

.footer {
  background-color: var(--dark);
  color: var(--light);
  padding: 100px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  display: inline-block;
  margin-bottom: var(--font_size_default);
}

.footer .text {
  max-width: 264px;
}

.logo_content {
  margin-right: 120px;
}

.social_media {
  margin-right: 80px;
}

.social_media .text {
  color: var(--white);
  font-weight: var(--font_weight_medium);
  margin-bottom: 16px;
}

.social_media_icons {
  display: flex;
  gap: 16px;
}

.social_media_icon_wrapper {
  width: 40px;
  height: 40px;
}

.social_media_icon_wrapper .icon_link:hover,
.social_media_icon_wrapper .icon_link:focus {
  background-color: var(--success);
}

.social_media_icon {
  fill: var(--light);
}

.footer_subscribe_wrapper .text {
  color: var(--white);
  font-weight: var(--font_weight_medium);
  margin-bottom: 16px;
}

.footer_subscribe {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer_subscribe_input {
  border: 1px solid var(--white);
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: var(--white);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  outline: none;
  transition: border-color var(--transition_default);
}

.footer_subscribe_input:focus {
  border-color: var(--success);
}

.footer_subscribe_input::placeholder {
  color: var(--white);
}

.footer_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  height: 40px;
  min-width: 165px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 165px;
  cursor: pointer;
  border: none;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(46, 47, 66, 0.15);
  transition: background-color var(--transition_default);
}

.footer_btn:hover,
.footer_btn:focus {
  background-color: var(--success);
}

.footer_btn_icon {
  fill: var(--light);
  flex-shrink: 0;
  margin-left: 16px;
}


/* ===== END FOOTER ===== */


/* ===== START MODAL ===== */

.modal_overlay {
  background-color: var(--modal_overlay);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition_default), visibility var(--transition_default);
}

.modal_user_contacts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: var(--modal_bg);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition_default);
}

.modal_close_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  color: var(--dark);
  border-radius: 50%;
  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color var(--transition_default), border var(--transition_default);
}

.modal_close_btn:hover,
.modal_close_btn:focus {
  background-color: var(--pressed);
  border: none;
  color: var(--white);
}

.modal_close_icon {
  fill: currentColor;
  transition: fill var(--transition_default);
}

.modal_close_btn:hover .modal_svg,
.modal_close_btn:focus .modal_svg {
  fill: var(--white);
}

.modal_overlay.is_open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal_overlay:not(.is_open) .modal {
  transform: translate(-50%, -150%);
}

.modal_title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark);
  margin-bottom: 16px;
}

.modal_field_wrapper {
  margin-bottom: 8px;
}

.modal_field_wrapper:has(+ .policy_wrapper) {
  margin-bottom: 16px;
}

.modal_input:focus-within {
  border-color: var(--primary);
  color: var(--primary);
}

.modal_input:focus-within + .input_icon {
  fill: #4D5AE5;
}

.modal_lable {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle_text);
  width: 100%;
  margin-bottom: 4px;
  display: block;
}

.modal_input_wrapper {
  position: relative;
}

.modal_input {
  outline: transparent;
  background-color: transparent;
  border: 1px solid var(--modal_overlay);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border-color var(--transition_default);
}

.input_icon {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: 16px;
  fill: var(--dark);
  transition: fill var(--transition_default);
  pointer-events: none;
}

textarea.modal_input {
  resize: none;
  padding: 8px 16px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal_overlay);
}

textarea::placeholder {
  color: var(--modal_overlay);
}

.policy_wrapper {
  margin-bottom: 24px;
}

.policy_wrapper .modal_lable {
  margin-bottom: 0;
}

.policy_link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--primary);
  cursor: pointer;
}

.checkbox_visible {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color var(--transition_default), border var(--transition_default), fill var(--transition_default);
  cursor: pointer;
}

.checkbox_hidden:checked + .modal_lable > .checkbox_visible {
  background-color: var(--pressed);
  border: none;
  fill: var(--light);
}

.checkbox_hidden:focus-visible + .modal_lable > .checkbox_visible {
  outline: 1px solid #4D5AE5;
  outline-offset: 2px;
}


/* ===== END MODAL ===== */